<!DOCTYPE html>
<html>

<body>

    <form action="/facebook" method="GET">
        Page to steal:
        <br>
        <input type="text" name="url" value="https://www.facebook.com/lamignonne.sweetshop/photos/a.745574142195059.1073742077.237010953051383/745574262195047/?type=3&theater">
        <input type="submit" value="Submit">
    </form>

    <form action="/pantown" method="GET">
        Pantown:
        <br>
        <input type="text" name="url" value="http://www.pantown.com/group.php?display=board&id=25255&name=board1&area=4">
        <input type="submit" value="Submit">
    </form>

    <p></p>

</body>

</html>
